* {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 14px;
    color: #c0caf5;
}

window#waybar {
    background-color: #1a1b26;
    border-radius: 12px;
    transition: background-color ease 0.5s;
    opacity: 0.9;
}

#workspaces button {
    background-color: #1a1b26;
    color: #565f89;
    padding: 2px;
    margin: 2px 0;
}

#workspaces button.active {
    background-color: #7aa2f7;
    color: #1a1b26;
}

#pulseaudio, #battery, #clock {
    background-color: #1a1b26;
    padding: 6px 0;
    margin: 2px 0;
}

#pulseaudio {
    color: #9ece6a;
}

#battery {
    color: #ff9e64;
}

#battery.warning {
    color: #e0af68;
}

#battery.critical {
    color: #f7768e;
}

#clock {
    color: #7aa2f7;
}
