* {
    background: #191D24;    /* Very dark gray, almost black */
    prompt: #2E3440;       /* Dark gray */
    border: #080808;       /* Medium-dark gray */
    text: #ffffff;         /* Pure white */
    stext: #808080;        /* Medium gray */
    select: #2E3440;       /* Dark gray, matching prompt */
}
